$active-color: #38c;
$audio-player-height: 30px;
$audio-player-padding: 2px;
$audio-player-track-height: 10px;
$audio-player-font-size: 12px;
$mejs-icon-size: 20px;
$audio-background-color: black;
$jqm-icon-size: 22px;
.audio-player {
    background-color: $audio-background-color;
    padding: $audio-player-padding;
    display: flex;

    font-size: $audio-player-font-size;
    line-height: $audio-player-font-size;
    font-weight: 700;
    color: white;
    .text {
        padding: ($audio-player-height - $audio-player-font-size) / 2 7px;
    }

    .btn {
        width: $audio-player-height;
        height: $audio-player-height;
        position: relative;
        cursor: pointer;
    }
    .play-btn:after {
        content: '';
        display: block;
        position: absolute;
        width: $mejs-icon-size;
        height: $mejs-icon-size;
        top: ($audio-player-height - $mejs-icon-size) /2;
        left: ($audio-player-height - $mejs-icon-size) /2;
        background-image: url(../img/mejs-controls.svg?inline);
    }
    &.playing .play-btn:after {
        background-position: -$mejs-icon-size 0;
    }

    @media only screen and (max-width: $sidebar-breakpoint - 1px) {
        &.sticky {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1001; // greater than a normal help footer (1000)
            border-top: 1px solid lighten($audio-background-color, 50%);
        }
    }

    .track {
        &,
        > * {
            border-radius: 2px;
            cursor: pointer;
        }
        margin: ($audio-player-height - $audio-player-track-height) / 2 5px;
        height: $audio-player-track-height;
        background-color: #777;
        flex-grow: 1;
        position: relative;
        .indicator,
        .buffered {
            height: $audio-player-track-height;
            position: absolute;
            left: 0;
        }
        .indicator {
            background-color: white;
        }
        .buffered {
            background-color: #aaa;
        }

        &.buffering {
            animation: buffering-stripes 2s linear infinite;
            background: linear-gradient(
                -45deg,
                rgba(255, 255, 255, 0.4) 25%,
                transparent 25%,
                transparent 50%,
                rgba(255, 255, 255, 0.4) 50%,
                rgba(255, 255, 255, 0.4) 75%,
                transparent 75%,
                transparent
            );
            background-size: 15px 15px;
        }
    }

    .ui-btn-icon-right {
        padding-right: 0;
        &.active {
            background-color: $active-color;
        }
        &.loading {
            animation: loading 2s linear infinite;
        }
        &:after {
            left: ($audio-player-height - $jqm-icon-size) / 2;
            background-color: transparent;
        }
    }
}

@keyframes buffering-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 30px 0;
    }
}

@keyframes loading {
    0% {
        background-color: rgba($active-color, 0);
    }
    50% {
        background-color: rgba($active-color, 1);
    }
    100% {
        background-color: rgba($active-color, 0);
    }
}
