#song-right .title-with-buttons h3 {
    display: inline-block;
    margin-right: 6px;
}

.collapsable-section h3 .count {
    display: none;
}
.collapsable-section > .collapse-widget {
    display: inline-block;
    float: right;
    padding-bottom: 3px;
}
.collapsable-section.title-with-buttons {
    > .collapse-widget {
        float: none;
        vertical-align: middle;
        padding-bottom: 4px;
    }
    &.collapsed > .collapse-widget {
        margin-top: -3px;
    }
}
.collapsable-section.collapsed > .collapse-widget {
    padding: 0;
}
#song-right .collapsable-section.collapsed > h3 {
    margin: 0;
}
.collapsable-section > .collapse-widget:after {
    content: '';
    width: 26px;
    height: 24px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
}
.collapsable-section.collapsed > .entries {
    display: none;
}
.collapsable-section.collapsed h3 .count {
    display: inline;
}
.collapsable-section.partial-display.collapsed > .entries {
    display: block;
    height: 21px;
    overflow: hidden;
}
