.presenter-view {
    display: none;

    position: relative;

    button {
        display: inline-block;
        float: left;
    }
    #present-blank {
        float: right;
    }
    padding-bottom: 36px;

    // As mobile safari always expands iframe to full height, we want to do the
    // same and scroll with the container rather than the iframe itself.
    .iframe-container {
        position: relative;
        background-color: black;

        iframe {
            border: none;
            position: absolute;

            pointer-events: none; // to get drag-scolling working on browsers

            transform: scale(1); // default
            transform-origin: 0 0;
        }
    }

    // always show scroll bar to keep height calcs the same
    &:not(.vertical-lang) {
        .iframe-container {
            overflow-x: hidden;
            overflow-y: scroll;
            cursor: ns-resize;
        }
        #present-left,
        #present-right {
            display: none;
        }
    }
    &.vertical-lang {
        .iframe-container {
            overflow-x: scroll;
            overflow-y: hidden;
            cursor: ew-resize;
        }
        #present-up,
        #present-down {
            display: none;
        }
    }
}

#refresh-cast {
    display: none;
}
@media only screen {
    html.cast-active {
        .presenter-view {
            display: block;
        }
        #present-btn {
            @include ui-btn-active();
        }
    }

    html.cast-supported {
        #refresh-cast {
            display: block;
        }
    }

    html.cast-available {
        #refresh-cast {
            display: none;
        }

        // Notify when 2nd screen is available
        #present-btn {
            &:after {
                background-color: #005599;
            }
        }
    }
}
