.presenter-view {
    position: relative;

    // As mobile safari always expands iframe to full height, we want to do the
    // same and scroll with the container rather than the iframe itself.
    .iframe-container {
        position: relative;
        background-color: black;

        iframe {
            border: none;
            position: absolute;

            pointer-events: none; // to get drag-scolling working on browsers

            transform: scale(1); // default
            transform-origin: 0 0;
        }
    }

    // always show scroll bar to keep height calcs the same
    &:not(.vertical-lang) {
        .iframe-container {
            overflow-x: hidden;
            overflow-y: scroll;
            cursor: ns-resize;
        }
    }
    &.vertical-lang {
        .iframe-container {
            overflow-x: scroll;
            overflow-y: hidden;
            cursor: ew-resize;
        }
    }
}
