// At this size move song info to the rhs
$song-info-rhs-breakpoint: 1000px;

$background-color: #f8f8f8;
$text-color: #7e7e7e;
$theme-base-color: #948df0;
$theme-inactive-color: rgba($theme-base-color, 80%);

@import './font-importer';
@import './language-fonts';
@import './app-fonts';
@import './rtl-ui';
@import './vertical-langs';

@import './presentation';
@import './dual-present';
@import './responsive';
@import './chorddisplay';

@import './print';
