div.colorPicker-picker {
    height: 16px;
    width: 16px;
    padding: 0 !important;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    line-height: 16px;

    /* for jqm */
    display: inline-block;
    margin-left: -6px;
    margin-right: 9px;
}

div.colorPicker-palette {
    width: 186px;
    position: absolute;
    border: 1px solid #598fef;
    background-color: #efefef;
    padding: 2px;
    z-index: 9999;
}
div.colorPicker_hexWrap {
    width: 100%;
    float: left;
}
div.colorPicker_hexWrap label {
    font-size: 95%;
    color: #2f2f2f;
    margin: 5px 2px;
    width: 25%;
}
div.colorPicker_hexWrap input {
    margin: 5px 2px;
    padding: 0;
    font-size: 95%;
    border: 1px solid #000;
    width: 65%;
}

div.colorPicker-swatch {
    height: 25px;
    width: 25px;
    border: 1px solid #000;
    margin: 2px;
    float: left;
    cursor: pointer;
    line-height: 25px;
}
