$unused-jqm-icons:
    'alert', 'arrow-d-l', 'arrow-d-r', 'arrow-u-l', 'arrow-u-r', 'audio', 'calendar', 'camera', 'clock', 'cloud', 'comment', 'eye', 'forbidden', 'grid', 'home',
    'info', 'location', 'lock', 'navigation', 'power', 'recycle', 'shop', 'star', 'user';
@each $icon in $unused-jqm-icons {
    .ui-icon-#{$icon}:after {
        &,
        .ui-alt-icon & {
            &,
            .ui-nosvg & {
                background-image: none;
            }
        }
    }

    // have to keep the ordering the same for the minimization to kill the svg
    .ui-alt-icon.ui-icon-#{$icon}:after {
        &,
        .ui-nosvg & {
            background-image: none;
        }
    }
}

$unused-jqm-extra-icons:
    'android', 'arrows', 'bolt', 'bullhorn', 'clipboard', 'clock-o', 'comments-o', 'files-o', 'filter', 'globe', 'music', 'share-square', 'tags',
    'thumbs-o-down', 'thumbs-o-up';
@each $icon in $unused-jqm-extra-icons {
    .ui-icon-#{$icon}:after {
        &,
        .ui-nosvg & {
            background-image: none;
        }
    }
}
