$default-font: 'Arial', 'Roboto', sans-serif;

/* Font overrides for different languages */
@font-face {
    font-family: 'Mongolian White';
    @include font-import('../fonts/mnglwhiteotf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UKIJ Tuz';
    @include font-import('../fonts/UKIJTuz');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Almas';
    @include font-import('../fonts/Almas36');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Almas';
    @include font-import('../fonts/Almas-Bold');
    font-weight: bold;
    font-style: normal;
}
[lang] {
    font-family: $default-font;
}
[lang='mn-TR'] {
    font-family: 'Mongolian White', $default-font;
    /* Mongolian font is smaller than most */
    font-size: 125%;
}

[lang='fa'],
[lang='kk-CN'],
[lang='ky-CN'],
[lang='prs'],
[lang='kmr-AR'] {
    font-family: 'UKIJ Tuz', $default-font;
}
[lang='ug-CN'] {
    font-family: 'Almas', $default-font;
}
