@mixin font-import($basepath) {
    src: url($basepath + '.woff2') format('woff2');
}

$default-font: 'Arial', 'Roboto', sans-serif;

/* Font overrides for different languages */
@font-face {
    font-family: 'Mongolian White';
    @include font-import('../fonts/mnglwhiteotf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UKIJ Tuz';
    @include font-import('../fonts/UKIJTuz');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Almas';
    @include font-import('../fonts/Almas36');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Almas';
    @include font-import('../fonts/Almas-Bold');
    font-weight: bold;
    font-style: normal;
}
[lang] {
    font-family: $default-font;
}
[lang='mn-TR'] {
    font-family: 'Mongolian White', $default-font;
    font-size: 125%;

    /* Mongolian font is smaller than most */
    &.zoom-vsmall {
        font-size: 110%;
    }
    &.zoom-small {
        font-size: 130%;
    }
    &.zoom-medium {
        font-size: 160%;
    }
    &.zoom-large {
        font-size: 200%;
    }
    &.zoom-xlarge {
        font-size: 250%;
    }
    &.zoom-xxlarge {
        font-size: 300%;
    }
    &.showchords .chord {
        font-size: 65%;
    }
}

[lang='fa'],
[lang='kk-CN'],
[lang='ky-CN'],
[lang='prs'],
[lang='kmr-AR'] {
    font-family: 'UKIJ Tuz', $default-font;
}
[lang='ug-CN'] {
    font-family: 'Almas', $default-font;
}
