// Set the :after to wider padding so that clicks are easier, but without
// changing the way it looks.
.ui-btn-icon-notext,
.no-header-btn-text .ui-header .ui-btn-inline {
    $notext-padding: 8px;

    // To allow the $notext-padding to work
    overflow: visible;

    &::after {
        padding: $notext-padding;
        margin-top: -11px - $notext-padding;
        margin-left: -11px - $notext-padding;
        border-radius: -(-11px - $notext-padding);
        //background-color: transparent;
        background-clip: content-box;
    }
}

.ui-btn-icon-notext:after {
    left: 49%; // seems to have an issue with the :after padding above at 50% but 49/51% are fine..
}

.no-header-btn-text {
    /* Copied from .ui-btn-icon-notext */
    .ui-header .ui-btn-inline {
        padding: 0;
        font-size: 16px;
        width: 28px;
        height: 28px;
        text-indent: -9999px;
        white-space: nowrap !important;
        border-radius: 1em;
    }
    .ui-header {
        .ui-btn-left,
        .ui-btn-right {
            top: 0.3125em;
            right: 0.3125em;
        }
        .ui-btn-inline::after {
            top: 50%;
            left: 50%;
        }
    }

    @media only screen {
        .ui-title {
            margin: 0 40px;
        }
    }
}
