.pager {
    text-align: center;
    padding: 12px 2em;
    vertical-align: middle;
    position: relative;
}
.pager-prev,
.pager-next {
    position: absolute;
    margin: 7px 2px;
    top: 0;
}
.pager-prev {
    left: 0;
}
.pager-next {
    right: 0;
}
