// TODO
.presentation {
    .show-score {
        background-color: #f6f6f6;
    }

    .songxml {
        &.zoom--2 > * {
            font-size: 80%;
        }
        &.zoom--1 > * {
            font-size: 90%;
        }
        &.zoom-1 > * {
            font-size: 120%;
        }
        &.zoom-2 > * {
            font-size: 140%;
        }
        &.zoom-3 > * {
            font-size: 160%;
        }
        &.zoom-4 > * {
            font-size: 180%;
        }
        &.zoom-5 > * {
            font-size: 200%;
        }
    }

    &.presentation-cast,
    &.presentation-iframe {
        // If don't display scroll bar etc
        overflow: hidden;

        // Attempt to not show a cursor over the top if 2nd monitor but doesn't
        // / shouldn't work as mouse cannot interact with the display.
        cursor: none;

        // Only way to fake the over-width that we do with margin above on normal presentation mode
        .songxml.vertical-lr {
            &:after {
                content: '';
                display: block;
                //width: $overscroll-size;
            }
        }

        &.vertical {
            max-height: 100%; // safari needs this apparently
        }
    }
}
