.songxml > * {
    page-break-inside: avoid;
}

@media only print {
    #song-right .entries {
        display: block !important;
        height: auto;
    }

    #song-right {
        margin-top: 20px;
    }

    #song-right > #song-info {
        padding: 0;
        margin: 10px 0;
    }

    .songxml.vertical-lr {
        overflow-x: visible;
    }
}
