.rating {
    display: inline-block;
    > i {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        background-size: contain;
        &.star-off-png {
            background-image: url('../../img/star-off.png');
        }
        &.star-on-png {
            background-image: url('../../img/star-on.png');
        }
    }
}
