@media only screen and (min-width: $song-info-rhs-breakpoint) {
    .song-and-details {
        display: flex;
        flex-wrap: wrap-reverse;
        overflow-x: hidden;

        // Setting width on these sections seems to work better than using flex-basis
        > .songs {
            flex-grow: 8;
            order: 2;
            width: 450px;
        }
        > #song-right {
            order: 1;
            min-width: 250px;
            width: 300px;
            flex-grow: 1;
        }
    }

    .songs > .flex {
        display: flex;
        > * {
            flex-grow: 1;
        }
    }
}
