.ui-btn.toggle-sidebar {
    margin-bottom: 2px;
}

#sidebar {
    display: none;
    .ui-header {
        width: 320px;
        right: unset;
    }
    .sidebar-container {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar-track {
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background-color: #aaa;
    }
}

#songinfo.hide-sidebar .sidebar-only-btn {
    display: none !important;
}
