img.album {
    max-width: 50px;
    max-height: 50px;
    margin-right: 1em;
    vertical-align: top;
    float: left;
}

.album-entry {
    margin-bottom: 5px;
    &:last-child {
        margin-bottom: 0;
    }
}

#album a {
    vertical-align: top;
    text-decoration: none;
    color: blue;
}

a.search-link {
    font-weight: normal;
    cursor: pointer;
}

#song-right {
    border-top: 1px solid #ccc;

    /* Don't waste space when at bottom of screen view */
    @media only screen {
        background-color: #f9f9f9;
        margin-left: -10px;
        margin-right: -10px;
    }

    h3 {
        margin: 0 0 3px;
    }

    > .section {
        padding: 7px 10px; // 7px to make show sheet music flush with change capo
        border-bottom: 1px solid #ccc;
        margin: 0;
    }
}

#chord_dropdown label,
#song-capo label {
    float: left;
    margin-right: 1em;
    white-space: nowrap;
    line-height: 35px;
}
#chord_dropdown .ui-mini {
    margin: 0;
}
