/* Set same as theme e */
.ui-sortable-helper {
    border: 1px solid #f7c942 /*{e-bar-border}*/;
    background: #fadb4e /*{e-bar-background-color}*/;
    color: #333 /*{e-bar-color}*/;
    font-weight: bold;
    text-shadow: 0 /*{e-bar-shadow-x}*/ 1px /*{e-bar-shadow-y}*/ 0 /*{e-bar-shadow-radius}*/ #fff /*{e-bar-shadow-color}*/;
    background-image: linear-gradient(#fceda7 /*{e-bar-background-start}*/, #fbef7e /*{e-bar-background-end}*/);
}

.sort-handle {
    cursor: move;
}
.ui-sortable h3 {
    padding-right: 22px;
}
