.ui-loader {
    // Taken from https://projects.lukehaas.me/css-loaders/
    $loader-size: 64px;
    margin-left: -$loader-size / 2;
    margin-top: -$loader-size / 2;
    width: $loader-size;
    height: $loader-size;
    border-radius: 50%;
    background-color: black;

    opacity: 0.2;

    .ui-icon-loading {
        $loader-icon-size: 48px;
        margin-left: ($loader-size - $loader-icon-size) / 2 - 1px;
        margin-top: ($loader-size - $loader-icon-size) / 2 - 1px;
        width: $loader-icon-size;
        height: $loader-icon-size;
        border-radius: 50%;
        background: #ffffff;
        background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
        animation: spin 1.4s infinite linear;
        position: relative;
        transform: translateZ(0);
        &:before {
            width: 50%;
            height: 50%;
            background: #ffffff;
            border-radius: 100% 0 0 0;
            position: absolute;
            top: 0;
            left: 0;
            content: '';
        }
        &:after {
            background: black;
            width: 75%;
            height: 75%;
            border-radius: 50%;
            content: '';
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    &.ui-loader-verbose {
        box-shadow: none;
        padding: 0;

        h1 {
            font-size: 1.5em;
            text-shadow: none;
        }
    }

    .lock-screen &.ui-loader-verbose {
        h1 {
            color: white;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
