<!DOCTYPE html>
<html class="show-splash splash-available">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">

<!-- A build type of 'live' is served when run from the perl script ie an old approach at server-side rendering -->
<% if( htmlWebpackPlugin.options.build == 'live' || htmlWebpackPlugin.options.build == 'www' ) { %>
    <!-- always use latest version of ie -->
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />

    <!-- disable chrome translate option popup -->
    <meta name="google" content="notranslate">

    <!-- apple webapp stuff -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Worship Leader">
    <link rel="apple-touch-icon" type="image/png" href="apple-touch-icon.png">
    <link rel="apple-touch-startup-image" type="image/png" href="splashscreens/en.jpg">

    <!-- windows webapp stuff -->
    <meta name="msapplication-TileImage" content="apple-touch-icon.png">
    <meta name="msapplication-TileColor" content="#ffffff">

    <!-- chrome/android webapp stuff -->
    <meta name="theme-color" content="#ffffff">

    <link rel="icon" type="image/png" href="img/worshipleader.png">

    <script type="application/ld+json">
    {
        "@id":"https://songs.worshipleaderapp.com/#id/website",
        "@context":"https://schema.org",
        "@type":"WebSite",
        "url":"https://songs.worshipleaderapp.com/",
        "name":"Worship Leader",
        "description":"",
        "potentialAction": [{
            "@context":"https://schema.org",
            "@type":"SearchAction",
            "target":"https://songs.worshipleaderapp.com/?q={search_term_string}",
            "query-input":"required name=search_term_string"
        }]
    }
    </script>
<% } %>

<% if( htmlWebpackPlugin.options.build == 'live' ) { %>
    <meta name="description" content="[% song.songxml.to_lyrics | html %]" />

    <meta property="og:url" content="[% our_url %]" />
    <meta property="og:type" content="music.song" />
    <meta property="og:title" content="[% song.title | html %]" />
    <meta property="og:description" content="[% song.songxml.to_lyrics | html %]" />
    <meta vite-ignore property="og:image" content="https://songs.worshipleaderapp.com/splashscreens/[% short_locale %].jpg" />

    <!-- TODO: generate these from the database -->
    <meta property="og:locale" content="[% locale %]" />
    <meta property="og:site_name" content="[% langpack.item('worship-leader') %]" />
    <meta property="og:locale:alternate" content="tr_TR" />
    <meta property="og:locale:alternate" content="en_GB" />
    <meta property="og:locale:alternate" content="kk_KZ" />
    <meta property="og:locale:alternate" content="mn_MN" />
    <meta property="og:locale:alternate" content="ru_RU" />

    <title>[% song.title | html %] - [% langpack.item('worship-leader') %]</title>
<% } %>

</head>
<body>

<% if( htmlWebpackPlugin.options.build == 'live' ) { %>
    [% IF json_ld %]
        <script type="application/ld+json">[% json_ld %]</script>
    [% END %]
<% } %>

<!-- splashscreen -->
<div id="load-splash-screen">
    <div class="bg">
        <svg id="botright" width="631.08" height="695.53" fill="none" version="1.1" viewBox="0 0 631.08 695.53" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
         <path d="m356.06 12.589c-112.11-42.806-218.28 33.69-261.59 78.138-97.956 86.631-151.18 369.46 0 501.95 304.07 266.49 569.05-57.754 533.38-155.43s-197.04-47.562-205.54-122.3c-8.493-74.741 17.224-124.65 22.932-149.48 16.987-73.892-15.174-124.62-89.18-152.88z" fill="url(#paint0_linear)" fill-opacity=".8"/>
         <defs>
          <linearGradient id="paint0_linear" x1="239.47" x2=".95199" y1="51.729" y2="531.87" gradientTransform="translate(180.18 -.759)" gradientUnits="userSpaceOnUse">
           <stop stop-color="#B68EF3" offset="0"/>
           <stop stop-color="#8EEAD9" offset="1"/>
          </linearGradient>
         </defs>
        </svg>

        <svg id="dot1" width="108" height="109" viewBox="0 0 108 109" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M83.5462 68.5622C79.3605 46.5104 130.885 28.9804 93.4146 6.75492C58.5625 -13.8753 1.62358 17.8808 1.00052 45.8282C0.422254 72.7369 20.1724 94.9721 44.4169 105.672C64.1361 114.337 87.6369 104.259 83.5462 68.5622Z" fill="url(#paint1_linear)" fill-opacity="0.8"/>
        <defs>
        <linearGradient id="paint1_linear" x1="28.2672" y1="92.9563" x2="133.06" y2="-26.3684" gradientUnits="userSpaceOnUse">
        <stop stop-color="#9CBDF4"/>
        <stop offset="1" stop-color="#85FFD3"/>
        </linearGradient>
        </defs>
        </svg>

        <svg id="dot2" width="44" height="47" viewBox="0 0 44 47" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M23.9588 0.0975831C35.6827 0.960375 47.5588 19.1298 41.5193 32.7822C35.5812 46.3331 14.4174 50.4441 5.48495 42.0192C-2.48319 34.4571 0.764952 18.4192 8.02256 9.33452C9.54514 7.40593 15.8892 -0.460694 23.9588 0.0975831Z" fill="url(#paint5_linear)" fill-opacity="0.8"/>
        <defs>
        <linearGradient id="paint5_linear" x1="5.06522" y1="41.5477" x2="37.8975" y2="8.71536" gradientUnits="userSpaceOnUse">
        <stop stop-color="#B6B0F1"/>
        <stop offset="1" stop-color="#C1A3F3"/>
        </linearGradient>
        </defs>
        </svg>


        <svg id="right" width="595.53" height="1067.2" fill="none" version="1.1" viewBox="0 0 595.53 1067.2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
         <path d="m279.31 98.85c49.026 193.97 346.66 444.64 71.189 505.08-249.39 29.842-495.91 427.92-246.76 459.65 334.65 42.631 528.45-301.53 485.99-417.78s-54.044-188.33-124.98-312.48c-58.399-102.22-97.173-260.47-114.26-285.53-63.947-93.788-92.914-34.894-71.189 51.061z" fill="url(#paint2_linear)" fill-opacity=".8"/>
         <defs>
          <linearGradient id="paint2_linear" x1="64.493" x2="404.11" y1="828.11" y2="-30.701" gradientTransform="translate(-.87543 239.11)" gradientUnits="userSpaceOnUse">
           <stop stop-color="#8EEAD9" offset="0"/>
           <stop stop-color="#AC6FF4" offset="1"/>
          </linearGradient>
         </defs>
        </svg>

        <svg id="rightdot" width="70" height="76" viewBox="0 0 70 76" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.8" d="M37.9586 0.358917C56.9521 1.75671 76.1924 31.1925 66.4079 53.3105C56.7878 75.2641 22.5008 81.9242 8.02951 68.2752C-4.87951 56.0239 0.382731 30.0414 12.1406 15.3235C14.6073 12.199 24.8852 -0.545536 37.9586 0.358917Z" fill="url(#paint3_linear)"/>
        <defs>
        <linearGradient id="paint3_linear" x1="7.3495" y1="67.5113" x2="60.5404" y2="14.3204" gradientUnits="userSpaceOnUse">
        <stop stop-color="#B88CF3"/>
        <stop offset="1" stop-color="#97B1EF"/>
        </linearGradient>
        </defs>
        </svg>

        <svg id="top" width="990.25" height="748.49" fill="none" version="1.1" viewBox="0 0 990.25 748.49" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
         <path d="m889.55 0.14013c-217.87 15.269-285.6 202.14-367.76 220.18-165.61 27.092-577.43 129.93-515.51 333.06 88.337 289.76 196.27 202.31 323.75 84.589 127.49-117.73 170.87-24.345 276.05-103.21 105.18-78.866 110.27-28.064 322.73-219.27 112.33-101.09 53.358-321.85-39.268-315.35z" fill="url(#paint4_linear)" fill-opacity=".8"/>
         <defs>
          <linearGradient id="paint4_linear" x1="590.91" x2="150.23" y1="-30.7" y2="-248.91" gradientTransform="translate(-.48121 551.44)" gradientUnits="userSpaceOnUse">
           <stop stop-color="#AC6FF4" offset="1e-4"/>
           <stop stop-color="#8EEAD9" offset="1"/>
          </linearGradient>
         </defs>
        </svg>
    </div>

    <div class="splash-contain">
        <svg width="137" height="66" viewBox="0 0 137 66" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.690552 12.8374L55.7558 65.1506L69.927 52.0092L14.4875 0.0400391L0.690552 12.8374Z" fill="#B392F2"/>
            <path d="M136.706 13.4063L82.9248 65.9631L69.9271 52.0092L123.851 0.0400391L136.706 13.4063Z" fill="#B392F2"/>
            <path d="M45.8949 12.7928L56.5111 2.92297L69.4024 16.6712L82.8416 4.17216L93.5014 15.6592L69.4104 38.123L45.8949 12.7928Z" fill="#B392F2"/>
        </svg>
        <div id="splash-text"></div>
    </div>
</div>

<!-- TODO: inline the style for initial splash screen and base js too when available -->
<script type="module" src="src/splash.es5.ts"></script>

<% if( htmlWebpackPlugin.options.build == 'live' ) { %>
    [%# to speed up loading embed various json details in the page %]
    [% IF langpack_code %]
        <script id="json-langpack-[% langpack_code %]" type="application/json">[% langpack_raw %]</script>
    [% END %]

    [% IF metadb_raw %]
        <script id="json-metadb" type="application/json">[% metadb_raw %]</script>
    [% END %]

    [% IF song_lang_db_raw %]
        <script id="json-song_lang_db" type="application/json">[% song_lang_db_raw %]</script>
    [% END %]
<% } %>
<div id="app">
    <h1 class="songtitle" lang="<%= htmlWebpackPlugin.options.build == 'live' ? '[% html_lang %]' : '' %>">
        <% if( htmlWebpackPlugin.options.build == 'live' ) { %>
            [% song.title | html %]
        <% } %>
    </h1>
    <div class="songalttitles" lang="<%= htmlWebpackPlugin.options.build == 'live' ? '[% html_lang %]' : '' %>">
        <% if( htmlWebpackPlugin.options.build == 'live' ) { %>
            [% alt_titles = [];
            FOR t IN song.alternative_titles;
                t = t | html;
                alt_titles.push( '<span class="subtitle">' _ t _ '</span>' );
            END;
            alt_titles = alt_titles.join('');
            %]

            [% alt_titles %]
        <% } %>
    </div>
    <div class="songxml" lang="<%= htmlWebpackPlugin.options.build == 'live' ? '[% html_lang %]' : '' %>">
        <% if( htmlWebpackPlugin.options.build == 'live' ) { %>
            <pre>[% song.songxml.to_lyrics | html %]</pre>
            [%# Add some links to other songs for seo purposes %]
            [% FOREACH other_song IN get_random_rows(c, 10) %]
                <a href="https://songs.worshipleaderapp.com/[% other_song.pretty_path() %]">[% other_song.title | html %]</a>
            [% END %]
        <% } %>
    </div>
</div>

<% if( htmlWebpackPlugin.options.build == 'phonegap' ) { %>
    <script vite-ignore src="cordova.js"></script>
<% } %>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap" />
<!--link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" /-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<!-- TODO: Include in src/abc.js if we can figure out how to fix the window.abcsf2 loading issues -->
<script vite-ignore src="/play-1.js"></script>

<script type="module" src="src/main.tsx"></script>

</body>
</html>
