// Initial style needed for load splash screen

.show-splash,
.show-splash body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0; /* android defaults to non-0 */
}
#load-splash-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 10000000;
    background-color: black !important;
    text-align: center;
    font: 0/0 a;
    opacity: 0;
    visibility: hidden;
    display: table;
    height: 100%;
    width: 100%;
    transition:
        opacity linear 500ms,
        visibility 0s linear 500ms;
}
.show-splash #load-splash-screen {
    opacity: 1;
    visibility: visible;
}
#load-splash-screen .splash-contain {
    vertical-align: middle;
    display: table-cell;
    padding: 10px;
}
#load-splash-screen img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
}
#load-splash-screen img.img-loaded {
    opacity: 1;
    transition: opacity linear 500ms;
}
